.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

#psu-secondary-menu,#psu-primary-menu,#psu-i-am-a-menu-link-list,#psu-my-psu-link {
  list-style: none;
}

#psu-secondary-menu a,#psu-primary-menu a,#psu-i-am-a-menu-link-list a,#psu-my-psu-link a,
#psu-secondary-menu a:link,#psu-primary-menu a:link,#psu-i-am-a-menu-link-list a:link,#psu-my-psu-link a:link,
#psu-secondary-menu a:active,#psu-primary-menu a:active,#psu-i-am-a-menu-link-list a:active,#psu-my-psu-link a:active,
#psu-secondary-menu a:visited,#psu-primary-menu a:visited,#psu-i-am-a-menu-link-list a:visited,#psu-my-psu-link a:visited {
  color: inherit;
  text-decoration: none;
}

#psu-secondary-menu, #psu-primary-menu, #psu-my-psu-link {
  margin-block-start: 0;
  margin-block-end: 0;
}

#psu-my-psu-link {
  margin-left: -2.8rem;
}

#top-nav-row-container {
  background-color: #6A7F10;
  color: white;
}

#psu-secondary-menu li a,
#psu-my-psu-link li a,
#menubutton {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  font-family: "Montserrat", Arial, sans-serif;

}

#psu-secondary-menu li,
#psu-my-psu-link li {
  padding-top: 1rem;
}

#menubutton {
  background-color: #CFD82D;
  color: black;
  padding: 1rem 1rem;
}

#psu-primary-menu li a {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
}

#psu-primary-menu {
  padding-top: 1rem;
}

#toggle-search-desktop, #menubutton {
  border: none;
}

#toggle-search-desktop {
  background-color: transparent;
}

#toggle-search-desktop i {
  font-weight: 500;
  font-size: 1.5rem;
}

.site-image-wrapper {
  position: relative;
}

.site-image-wrapper img {
  width: 328px;
  height: 65px;
  top: 2rem;
}
